selected_scheme scheme-custom
TEXDIR <TEXDIR>/texlive
TEXMFCONFIG <TEXDIR>/texmf-config
TEXMFHOME <TEXDIR>/texmf-home
TEXMFLOCAL <TEXDIR>/texlive/texmf-local
TEXMFSYSCONFIG <TEXDIR>/texlive/texmf-config
TEXMFSYSVAR <TEXDIR>/texlive/texmf-var
TEXMFVAR <TEXDIR>/texmf-var

collection-basic 1
collection-bibtexextra 1
collection-binextra 1
collection-context 1
collection-fontsextra 1
collection-fontsrecommended 1
collection-fontutils 1
collection-formatsextra 1
collection-genericextra 1
collection-genericrecommended 1
collection-htmlxml 1
collection-langenglish 1
collection-latex 1
collection-latexextra 1
collection-latexrecommended 1
collection-mathextra 1
collection-science 1
in_place 0
option_adjustrepo 1
option_autobackup 1
option_backupdir tlpkg/backups
option_desktop_integration 1
option_doc 0
option_file_assocs 1
option_fmt 0
option_letter 1
option_menu_integration 1
option_path 0
option_post_code 1
option_src 0
option_sys_bin /usr/local/bin
option_sys_info /usr/local/share/info
option_sys_man /usr/local/share/man
option_w32_multi_user 1
option_write18_restricted 0
portable 0
